# Internal resources
Fonts
release
update-deb.sh
emjc-exp.py

# Font assets
*.ttx
*.ttc
*.ttf

# Project assets
**/images/*/*.png
fluentui/**/*.png
fluentui/**/*.svg
apple
.DS_Store
.test

# Vendor emoji fonts
**/extra/images
**/extra/svgs
**/bitmaps

# Python assets
__pycache__
