# Font assets
*.ttx
*.ttc
*.ttf

# Project assets
Fonts
apple
Packages
.DS_Store

# Tools
getfonts
getfontname
stripttc

# Vendor emoji fonts
facebook
facebook-extra
openmoji
openmoji-extra
noto-emoji
noto-emoji-extra/images
noto-emoji-extra/svgs
twemoji
twemoji-extra/images
twemoji-extra/svgs
fluentui
joypixels

# Python assets
__pycache__
