# Internal resources
Fonts
release
update-deb.sh
*-wip

# Font assets
*.ttx
*.ttc
*.ttf
*.otf

# Project assets
**/images/*/*.png
fluentui/**/*.png
fluentui/**/*.svg
apple
**/backup/**/*.png
.DS_Store
.test

# Vendor emoji fonts
**/extra/images
**/extra/svgs
**/extra/heart-mask
**/bitmaps

# Python assets
__pycache__/
*.egg-info/
.venv/
.pytest_cache/
.ruff_cache/

temp
